.wrapper {
  .Images {
    h2 {
      max-width: 408px;
      font-weight: 400;
    }
  }

  .contentDisclaimer {
    font-family: 'ZonaProSemiBold';
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #707070;
  }

  .Price {
    margin-top: 60px;
  }

  .SpecialOptions {
    margin-top: 20px;
  }

  .AddToCart {
    margin-top: 46px;
  }

  &.mobile {
    .Price {
      margin-top: 38px;
    }

    .contentDisclaimer {
      margin-top: 85px;
    }

    .AddToCart {
      margin-top: 24px;
    }
  }
}