.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ZonaPro;
  padding-block: 136px 159px;
  background: #F5F6F5;

  h2 {
    font-size: 37px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F08590;
    font-weight: 600;
    text-align: center;

    strong {
      font-weight: inherit;
      color: #245066;
    }
  }
  
  video {
    width: 100%;
    max-width: 1100px;
    margin-top: 49px;
  }

  &.mobile {
    padding: 62px 32px 38px;
    
    h2 {
      max-width: 158px;
      font-size: 16px;
      line-height: 21px;
    }

    .videoContainer {
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: hidden;

      video {
        width: auto;
        height: 100%;
      }
    }
  }
}