.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ZonaPro;
  color: #245066;
  background: #CADEE8;
  padding-block: 150px 179px;
  
  h1, h2 {
    text-align: center;

    strong {
      color: #F08590;
    }
  }

  h1 {
    font-family: ZonaProBlack;
    font-size: 37px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 86px;
  }

  h2 {
    font-size: 37px;
    line-height: 49px;
    margin-bottom: 64px;
  }
  
  > p {
    max-width: 1098px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-inline: 42px;

    strong, span {
      font-family: ZonaProBold;
    }

    span {
      color: #F08590;
    }
  }

  .timeline {
    margin-block: 86px 206px;
  }

  &.mobile {
    padding-block: 100px;

    h1, h2 {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.05em;
    }

    h1 {
      max-width: 272px;
      margin-bottom: 32px;
    }

    h2 {
      margin-bottom: 48px;
    }

    > p {
      font-size: 12px;
      line-height: 20px;
    }

    .timeline {
      margin: 0;
    }
  }
}