.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 529px;
  font-family: ZonaPro;

  >span {
    display: block;
    color: #707070;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .selection {
    width: 100%;
    color: #d4a8bf;
    background: #FFFFFF;
    border: 2px solid #d4a8bf;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 17px;

    &Option {
      display: flex;
      flex-direction: column;

      &+.selectionOption {
        border-top: 1px solid #d4a8bf;
      }

      &Control {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 16px 20px;
        text-transform: uppercase;
        transition: 0.3s;

        &:hover {
          background: #d4a8bf40
        }

        input {
          display: none;
        }

        &Checkbox {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1/1;
          width: 18px;
          height: 18px;
          border: 2px solid #d4a8bf;
          border-radius: 3px;

        }

        input:checked+.selectionOptionControlCheckbox {
          background: #d4a8bf;

          &::before {
            content: '';
            position: absolute;
            width: 72%;
            height: 100%;
            background-image: url('../../assets/check.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }

        &Label {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: 18px;
          font-weight: 600;
          line-height: 23px;
          margin-left: 12px;
          cursor: pointer;

          @media only screen and (max-width: 1023px) {
            font-size: 12px;
            line-height: 16px;
          }

          strong {
            color: #245066;
          }
        }
      }

      &Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 20px;
        text-align: center;
        color: #707070;
        font-size: 14px;

        >img {
          margin-bottom: 20px;
        }

        p,
        small {
          max-width: 280px;
        }
      }
    }
  }

  &.mobile {
    >span {
      color: #245066;
      font-size: 11px;
      line-height: 14px;
      margin-bottom: 17px;
    }
  }
}