.LeggetContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-color-100);
  padding: 58px 0;

  @media only screen and (max-width: 1100px) {
    padding: 58px 30px;
  }

  @media only screen and (max-width: 1023px) {
    flex-direction: column;
  }

  .LeggetImage {
    margin-right: 29px;

    @media only screen and (max-width: 1023px) {
      margin-right: 0;
      margin-bottom: 18px;
    }
  }

  .LeggetTitle {
    max-width: 840px;
    text-align: center;
    font-family: 'ZonaPro';
    font-size: 18px;
    line-height: 28px;
    color: var(--blue-color-1000);
    letter-spacing: 1px;

    @media only screen and (max-width: 1100px) {
      max-width: 750px;
    }

    @media only screen and (max-width: 1024px) {
      max-width: 700px;
    }

    @media only screen and (max-width: 1023px) {
      font-size: 10px;
      line-height: 16px;
      max-width: unset;
      width: 80%;
    }
  }
}