.wrapper {
  position: relative;
  aspect-ratio: 384/199;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/base-banner.gif');
  background-size: cover;

  &.mobile {
    background-image: none;
    aspect-ratio: initial;

    .content {
      margin-block: 71px 13px;
      padding: 0;

      h1, span {
        font-size: 16px;
        line-height: 21px;
        font-family: ZonaProSemiBold;
        font-weight: 600;
      }

      span {
        color: #245066;
      }
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 182px;
    height: 100%;

    h1, span {
      font-family: ZonaProBlack;
      text-transform: uppercase;
      font-size: 37px;
      line-height: 51px;
      letter-spacing: 0.10em;
      text-align: center;
      color: #fff;
    }

    h1 {
      color: #f08590;
    }
  }
}