.TourCoral,
.TourBlue {
  background: linear-gradient(180deg, rgba(244, 133, 128, 1) 0%, rgba(255, 255, 255, 1) 100%);
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;

  @media only screen and (max-width: 1023px) {
    height: 600px;
  }

  .TourCoralTitle,
  .TourBlueTitle {
    font-family: 'ZonaProBlack';
    font-size: 36px;
    line-height: 35px;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 30px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.30);
    letter-spacing: 5px;

    @media only screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 3px;
    }
  }

  .TourCoralContent,
  .TourBlueContent {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .modalContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      inset: 0;

      @media only screen and (max-width: 1023px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .modalContent {
        z-index: 4;
        position: absolute;
        top: 63%;
        right: 20%;
        transform: translateY(-50%);
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.30);
        padding: 30px;
        max-width: 474px;

        @media only screen and (max-width: 1023px) {
          max-width: 95%;
          right: unset;
        }

        .modalTop {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &Title {
            font-family: 'ZonaProBlack';
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
            color: var(--coral-color-500);
            letter-spacing: 1px;
            margin-right: 5px;

            @media only screen and (max-width: 1023px) {
              font-size: 12px;
              line-height: 16px;
            }
          }

          .closeButton {
            position: absolute;
            top: 10.5px;
            right: 10.5px;
          }
        }

        .modalBottomText {
          font-family: 'ZonaPro';
          font-size: 15px;
          line-height: 20px;
          color: var(--gray-color-600);
          display: block;
          margin-top: 23px;

          @media only screen and (max-width: 1023px) {
            font-size: 10px;
            line-height: 16px;
          }

          >strong {
            font-family: 'ZonaProBold';
          }
        }

        .nextStep {
          display: block;
          text-align: right;
          margin-top: 30px;
          font-family: 'ZonaProBlack';
          font-size: 13px;
          line-height: 22px;
          text-transform: uppercase;
          text-decoration: underline;
          color: var(--coral-color-500);

          @media only screen and (max-width: 1023px) {
            font-size: 10px;
            line-height: 16px;
            margin-top: 20px;
          }
        }
      }

      >img {
        position: absolute;
        z-index: 2;
        inset: 0;
        width: 100%;
        height: 100%;

        @media only screen and (max-width: 1023px) {
          width: 100%;
          height: 50%;
        }
      }
    }

    >div {
      position: relative;

      .TourCoralButtons,
      .TourBlueButtons {
        position: absolute;

        &:nth-child(1) {
          left: -10%;
          top: 19.5%;

          @media only screen and (max-width: 1023px) {
            left: 18.5%;
            transform: none;
            top: 11%;
          }

          .TourCoralButton,
          .TourBlueButton {
            &CTA {
              margin-left: 22px;

              @media only screen and (max-width: 1023px) {
                margin-left: 10px;
              }
            }
          }
        }

        &:nth-child(2) {
          width: fit-content;
          left: 90%;
          top: 27%;

          @media only screen and (max-width: 1023px) {
            left: 60%;
            top: 22%;
          }

          .TourCoralButton,
          .TourBlueButton {
            flex-direction: row-reverse;

            &CTA {
              margin-right: 22px;

              @media only screen and (max-width: 1023px) {
                margin-right: 10px;
              }
            }
          }
        }

        &:nth-child(3) {
          left: -21.6%;
          top: 36.5%;

          @media only screen and (max-width: 1023px) {
            left: 5.5%;
            top: 34%;
          }

          .TourCoralButton,
          .TourBlueButton {
            &CTA {
              margin-left: 22px;

              @media only screen and (max-width: 1023px) {
                margin-left: 10px;
              }
            }
          }
        }

        &:nth-child(4) {
          left: -21.5%;
          top: 53.5%;

          @media only screen and (max-width: 1023px) {
            left: 6%;
            top: 54%;
          }

          .TourCoralButton,
          .TourBlueButton {
            &Title {
              text-align: right;
            }

            &CTA {
              margin-left: 22px;

              @media only screen and (max-width: 1023px) {
                margin-left: 10px;
              }
            }
          }
        }

        &:nth-child(5) {
          right: -31%;
          top: 52%;

          @media only screen and (max-width: 1023px) {
            right: -5%;
            top: 51%;
          }

          .TourCoralButton,
          .TourBlueButton {
            flex-direction: row-reverse;

            &CTA {
              margin-right: 22px;

              @media only screen and (max-width: 1023px) {
                margin-right: 10px;
              }
            }
          }
        }

        .TourCoralButton,
        .TourBlueButton {
          display: flex;
          align-items: center;
          justify-content: center;

          &Title {
            font-family: 'ZonaProBlack';
            font-size: 17px;
            line-height: 20px;
            text-transform: uppercase;
            color: var(--white-color);
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.65);
            display: block;
            text-align: left;
            letter-spacing: .5px;

            @media only screen and (max-width: 1023px) {
              font-size: 11px;
              line-height: 15px;
              letter-spacing: 0;
            }
          }

          &CTA {
            width: 28px;
            height: 28px;
            border-radius: 200px;
            background: var(--coral-color-500);
            border: 2px solid var(--white-color);
            display: inline-block;

            @media only screen and (max-width: 1023px) {
              width: 25px;
              height: 25px;
            }
          }

          &:hover {
            .TourCoralButtonCTA {
              background: var(--white-color);
              border: 2px solid var(--coral-color-500);
            }
          }
        }
      }
    }

    .Legget {
      margin-left: -30px;

      @media only screen and (max-width: 1023px) {
        position: absolute;
        bottom: 28%;
        right: 20%;
      }
    }
  }
}

.TourBlue {
  background: linear-gradient(90deg, rgba(65, 82, 100, 1) 0%, rgba(65, 82, 100, 1) 30%, rgba(255, 255, 255, 1) 100%);
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;

  @media only screen and (max-width: 1023px) {
    background: linear-gradient(180deg, rgba(65, 82, 100, 1) 0%, rgba(65, 82, 100, 1) 30%, rgba(255, 255, 255, 1) 100%);
    height: 600px;
  }

  .TourBlueContent {
    >div {
      .TourBlueButtons {
        .TourBlueButton {
          .TourBlueButtonCTA {
            background: var(--blue-color-500);
          }

          &:hover {
            .TourBlueButtonCTA {
              background: var(--white-color);
              border: 2px solid var(--blue-color-500);
            }
          }
        }

        &:nth-child(1) {
          top: 10%;
          left: 0;

          @media only screen and (max-width: 1023px) {
            top: 6%;
            left: 5%;
          }
        }

        &:nth-child(2) {
          right: -26%;
          left: unset;
          top: 21%;

          @media only screen and (max-width: 1023px) {
            right: -5%;
            top: 20%;
          }
        }

        &:nth-child(3) {
          top: 36%;
          left: -6%;

          @media only screen and (max-width: 1023px) {
            top: 34%;
            left: 9%;
          }
        }

        &:nth-child(4) {
          left: unset;
          right: -25%;
          top: 57%;

          @media only screen and (max-width: 1023px) {
            left: unset;
            right: -9%;
            top: 65%;
          }

          .TourBlueButton {
            flex-direction: row-reverse;
          }
        }
      }
    }

    .modalContainer {
      .modalContent {
        .modalTopTitle {
          color: var(--blue-color-500);
        }

        .modalBottomText {
          color: var(--blue-color-500);
        }

        .nextStep {
          color: var(--blue-color-500);
        }
      }
    }


    .Legget {
      margin-left: -10px;

      @media only screen and (max-width: 1023px) {
        position: absolute;
        bottom: 23%;
        right: 14%;
      }
    }
  }
}