.FaqContainer {
  background: linear-gradient(90deg, rgba(212, 168, 191, 1) 0%, rgba(207, 193, 210, 1) 50%, rgba(203, 215, 227, 1) 80%, rgba(202, 222, 232, 1) 100%);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1023px) {
    padding: 40px 0;
  }

  .FaqTitle {
    color: var(--white-color);
    font-family: 'ZonaProBold';
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 5px;
    margin-bottom: 70px;
    text-transform: uppercase;

    @media only screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 3px;
      margin-bottom: 32px;
    }
  }

  .FaqContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    padding-left: 100px;

    @media only screen and (max-width: 1400px) {
      padding-left: 40px;
    }

    @media only screen and (max-width: 1300px) {
      justify-content: center;
      padding-left: 0;
      width: 90%;
    }

    .FaqList {
      max-width: 930px;

      @media only screen and (max-width: 1023px) {
        max-width: 100%;
      }

      .FaqAccordion {
        background: transparent;
        color: var(--white-color);
        box-shadow: none;
        border-radius: 0;
        border-top: 3px solid #fff;

        &:last-child {
          border-bottom: 3px solid #fff;
        }

        .FaqAccordionTitle {
          font-family: 'ZonaProBold';
          color: var(--white-color);
          font-size: 19px;
          line-height: 42px;
          text-transform: uppercase;

          @media only screen and (max-width: 1023px) {
            font-size: 10px;
            line-height: 19px;
          }
        }

        .FaqAccordionAnswer {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;

          &.FaqAccordionAnswer2 {
            .FaqAccordionAnswerContainer {
              @media only screen and (max-width: 1023px) {
                flex-direction: column;
                align-items: flex-start;
              }

              .FaqAccordionAnswerText {
                @media only screen and (max-width: 1023px) {
                  margin-top: 11px;
                }
              }
            }
          }

          &.FaqAccordionAnswer4 {
            .FaqAccordionAnswerContainer {
              flex-direction: column;
              align-items: flex-start;

              .FaqAccordionAnswerTitle {
                margin-bottom: 0;
              }
            }
          }

          &.FaqAccordionAnswer5 {
            .FaqAccordionAnswerContainer {
              .FaqAccordionAnswerText {
                @media only screen and (max-width: 1023px) {
                  margin-bottom: 0;
                }
              }
            }
          }

          .FaqAccordionAnswerContainer {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .FaqAccordionAnswerTitle {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 16px;
            font-family: 'ZonaProBlack';
            font-size: 16px;
            line-height: 28px;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 2px;

            @media only screen and (max-width: 1023px) {
              font-size: 10px;
              line-height: 16px;
              letter-spacing: 1px;
            }
          }

          .FaqAccordionAnswerText {
            font-family: 'ZonaProSemiBold';
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 16px;

            &Bolder {
              font-family: 'ZonaProBlack';
            }

            @media only screen and (max-width: 1023px) {
              font-size: 10px;
              line-height: 16px;
            }
          }

          .FaqAccordionAnswerLink {
            display: block;
            font-family: 'ZonaProBlack';
            font-size: 16px;
            line-height: 28px;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 2px;
            margin-bottom: 16px;

            @media only screen and (max-width: 1023px) {
              font-size: 10px;
              line-height: 16px;
            }
          }
        }
      }
    }

    .FaqImage {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      @media only screen and (max-width: 1300px) {
        display: none;
      }
    }
  }
}