.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: ZonaProBold;
  background-image: linear-gradient(to right, #9873AC 0%, #829AC1 55%, #D4A8BF 100%);
  text-align: center;
  padding: 57px 0 74px;

  h2 {
    font-size: 48px;
    line-height: 60px;
    color: #FCF1F0;
    margin-bottom: 43px;
    text-transform: uppercase;
    font-family: ZonaProBlack;
  }

  p {
    max-width: 878px;
    font-size: 22px;
    line-height: 35px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 43px;

    span {
      text-align: left;
      font-size: 20px;
      line-height: 17px;
      margin-bottom: -17px;
      font-family: ZonaProBlack;
      text-transform: uppercase;
    }
  }

  &.mobile {
    padding: 43px 36px 52px;
    
    h2 {
      font-size: 20px;
      line-height: 15px;
      margin-bottom: 30px;
    }

    p {
      font-size: 12px;
      line-height: 19px;
    }

    .footer {
      margin-top: 24px;

      span {
        font-size: 16px;
        line-height: 13px;
        margin-bottom: -13px;
      }
    }
  }
}