.InstagramContainer {
  background: linear-gradient(180deg, rgba(119, 154, 191, 1) 0%, rgba(119, 154, 191, 1) 35%, rgba(136, 145, 186, 1) 80%, rgba(159, 133, 178, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .InstagramTitle {
    font-family: "ZonaProBold";
    font-size: 36px;
    line-height: 42px;
    margin: 60px 0 40px;
    color: var(--white-color);
    letter-spacing: 0.12em;

    @media only screen and (max-width: 1023px) {
      margin: 53.8px 0 27px;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      width: 80%;
    }
  }

  .InstagramSubtitle {
    font-family: 'ZonaPro';
    font-size: 21px;
    letter-spacing: 0.08em;
    line-height: 28px;
    text-align: center;
    color: #fff;
    margin-top: 19.2px;
    margin-bottom: 58px;

    @media only screen and (max-width: 1023px) {
      font-size: 14px;
      letter-spacing: 0.08em;
      line-height: 19px;
      margin-top: 15.4px;
      margin-bottom: 50.4px;
    }
  }

  .InstagramPosts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    @media only screen and (max-width: 1204px) {
      width: 95%;
    }

    @media only screen and (max-width: 1023px) {
      justify-content: flex-start;
      margin-bottom: 86.4px;
      width: 100%;
      overflow: scroll;
    }

    .BigPost {
      margin-right: 16px;

      @media only screen and (max-width: 1023px) {
        margin: 0 12px;
      }

      .Post {
        border-radius: 33px;

        @media only screen and (max-width: 1023px) {
          border-radius: 0;
          max-width: none;
          height: 100%;
        }
      }
    }

    .SmallPost {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 18px 16px;

      @media only screen and (max-width: 1023px) {
        gap: 15px 12px;
        margin-right: 12px;
      }

      .Post {
        border-radius: 33px;

        @media only screen and (max-width: 1023px) {
          border-radius: 0;
          max-width: none;
          height: 100%;
        }
      }
    }
  }
}