.LencolDuvetBannerContainer {
  position: relative;

  .LencolDuvetBannerTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'ZonaProSemiBold';
    font-size: 37px;
    line-height: 48px;
    color: var(--blue-color-800);
    text-transform: uppercase;

    @media only screen and (max-width: 1023px) {
      font-size: 16px;
      line-height: 21px;
    }

    .OtherColor {
      color: var(--coral-color-500);
    }
  }
}