.tableRow {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
    height: 6px;
  }
  
  &.scroll {
    -ms-overflow-style: initial;
    scrollbar-width: initial;
    
    &::-webkit-scrollbar {
      display: initial;
      height: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgb(24, 50, 66);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f0f0f0;
      border-radius: 4px;
    }
  }

  th {
    &.headingUnused {
      visibility: hidden;
    }
  }

  &.mobile {
    th {
      &.headingUnused {
        padding: 0;
      }
    }
  }
}

.headingMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #183242;
  background: #D8D6D6;
  padding: 14px 32px 15px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'ZonaProBold';
  letter-spacing: 0.04em;
}