.SleepAndLiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 60px;
  background: linear-gradient(360deg, #cadee8 0%, #ccdfe9 0%, #fff 22.17%, #fff 100%, #fff 100%);

  @media only screen and (max-width: 1023px) {
    padding: 100px 0 40px;
    background: linear-gradient(360deg, #cadee8 0%, #ccdfe9 34.48%, #fff 80.3%, #fff 100%, #fff 100%);
  }

  .SleepAndLiveContainerTitle {
    font-family: 'ZonaProBold';
    font-size: 36px;
    line-height: 42px;
    color: var(--blue-color-1000);
    letter-spacing: 3px;
    margin-bottom: 78px;
    text-transform: uppercase;

    @media only screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 44px;
    }
  }

  .SleepAndLiveContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    @media only screen and (max-width: 1350px) {
      gap: 50px;
      justify-content: center;
    }

    @media only screen and (max-width: 1023px) {
      flex-direction: column;
    }

    .SleepAndLiveColchao {
      max-width: 350px;
      background: var(--gray-color-100);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 530px;

      @media only screen and (max-width: 1023px) {
        max-width: 85%;
        width: 100%;
        height: auto;
      }

      &.SleepAndLiveSpark {

        .SleepAndLiveTitle,
        .SleepAndLiveSubtitle,
        .SleepAndLivePrice {
          color: var(--purple-color-700);
        }

        .SleepAndLiveButtonCTA {
          background: var(--purple-color-700);
        }
      }

      &.SleepAndLiveCoral {

        .SleepAndLiveTitle,
        .SleepAndLiveSubtitle,
        .SleepAndLivePrice {
          color: var(--coral-color-500);
        }

        .SleepAndLiveButtonCTA {
          background: var(--coral-color-500);
        }
      }

      &.SleepAndLiveBlue {

        .SleepAndLiveTitle,
        .SleepAndLiveSubtitle,
        .SleepAndLivePrice {
          color: var(--blue-color-1000);
        }

        .SleepAndLiveButtonCTA {
          background: var(--blue-color-1000);
        }
      }

      .SleepAndLiveFlag {
        position: absolute;
        top: -14px;
        right: 13px;
        background: var(--purple-color-300);
        color: var(--white-color);
        font-family: "ZonaProBlack";
        font-size: 12px;
        line-height: 14px;
        padding: 0 19px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.04em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 1023px) {
          font-size: 11px;
          line-height: 13px;
          width: 97px;
          height: 33px;
          padding: 0;
        }
      }

      .SleepAndLiveCTAImage {
        @media only screen and (max-width: 1023px) {
          width: 100%;

          >img {
            width: 100%;
          }
        }
      }

      .SleepAndLiveTitle {
        font-size: 30px;
        line-height: 30px;
        font-family: "ZonaProBlack";
        margin-bottom: 10px;
        text-transform: uppercase;
        margin-top: 20px;
        letter-spacing: 3px;

        @media only screen and (max-width: 1023px) {
          margin-top: 20px;
          font-size: 22px;
          margin-bottom: 3px;
          line-height: 22px;
          letter-spacing: 2px;
        }
      }

      .SleepAndLiveSubtitle {
        font-size: 12px;
        letter-spacing: 0.04em;
        line-height: 20px;
        font-family: "ZonaProBold";
        text-transform: uppercase;
        margin-bottom: 22px;

        @media only screen and (max-width: 1023px) {
          font-size: 11px;
          line-height: 18px;
          margin-bottom: 20px;
        }
      }

      .SleepAndLiveText {
        font-family: 'ZonaPro';
        font-size: 11px;
        letter-spacing: 0.04em;
        line-height: 13px;
        text-align: left;
        color: var(--gray-color-600);
        width: 80%;

        >strong {
          font-family: 'ZonaProBlack';
        }

        @media only screen and (max-width: 1440px) {
          width: 90%;
        }

        @media only screen and (max-width: 1023px) {
          font-size: 9px;
          line-height: 12px;
          width: 90%;
        }
      }

      .SleepAndLivePrice {
        font-family: 'ZonaProBlack';
        font-size: 14px;
        letter-spacing: 0.04em;
        line-height: 14px;
        margin-top: 28px;
        margin-bottom: 30px;
        text-align: left;
        width: 80%;

        @media only screen and (max-width: 1440px) {
          width: 90%;
        }

        @media only screen and (max-width: 1023px) {
          font-size: 13px;
          line-height: 13px;
          width: 85%;
          margin-top: 24px;
          margin-bottom: 23px;
        }
      }

      .SleepAndLiveButtonCTA {
        height: 60px;
        width: 100%;
        font-family: 'ZonaProBlack';
        font-size: 13px;
        line-height: 21px;
        color: var(--white-color);
        text-transform: uppercase;
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;

        @media only screen and (max-width: 1023px) {
          height: 54px;
          font-size: 12px;
          line-height: 19px;
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}