.SleepAndLiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0 91px;
  background: linear-gradient(360deg, #cadee8 0%, #ccdfe9 0%, #fff 22.17%, #fff 100%, #fff 100%);

  @media only screen and (max-width: 1023px) {
    padding: 120px 0 40px;
    background: linear-gradient(360deg, #cadee8 0%, #ccdfe9 34.48%, #fff 80.3%, #fff 100%, #fff 100%);
  }

  .SleepAndLiveContainerTitle {
    font-family: 'ZonaProBold';
    font-size: 36px;
    line-height: 42px;
    color: var(--blue-color-1000);
    letter-spacing: 3px;
    margin-bottom: 78px;
    text-transform: uppercase;

    @media only screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 44px;
    }
  }

  .SleepAndLiveContent {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1200px) {
      width: 90%;
    }

    @media only screen and (max-width: 1023px) {
      flex-direction: column;
    }

    .SleepAndLiveColchao {
      max-width: 572px;
      width: 50%;
      background: var(--gray-color-100);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      @media only screen and (max-width: 1200px) {
        height: 700px;
      }

      @media only screen and (max-width: 1023px) {
        max-width: 85%;
        width: 100%;
        height: auto;
      }

      &.SleepAndLiveCoral {
        margin-right: 21px;

        @media only screen and (max-width: 1023px) {
          margin-right: 0;
          margin-bottom: 50px;
        }

        .SleepAndLiveTitle,
        .SleepAndLiveSubtitle,
        .SleepAndLivePrice {
          color: var(--coral-color-500);
        }

        .SleepAndLiveButtonCTA {
          background: var(--coral-color-500);
        }
      }

      &.SleepAndLiveBlue {

        .SleepAndLiveTitle,
        .SleepAndLiveSubtitle,
        .SleepAndLivePrice {
          color: var(--blue-color-1000);
        }

        .SleepAndLiveButtonCTA {
          background: var(--blue-color-1000);
        }
      }

      .SleepAndLiveFlag {
        position: absolute;
        top: -20px;
        right: 10px;
        background: var(--purple-color-300);
        color: var(--white-color);
        font-family: 'ZonaProBlack';
        font-size: 17px;
        line-height: 20px;
        padding: 2px 30px;
        text-transform: uppercase;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

        @media only screen and (max-width: 1023px) {
          font-size: 11px;
          line-height: 13px;
          padding: 2px 20px;
        }
      }

      .SleepAndLiveCTAImage {
        @media only screen and (max-width: 1023px) {
          width: 100%;

          >img {
            width: 100%;
          }
        }
      }

      .SleepAndLiveTitle {
        font-size: 30px;
        line-height: 30px;
        font-family: "ZonaProBlack";
        margin-bottom: 10px;
        text-transform: uppercase;
        margin-top: 41.4px;
        letter-spacing: 3px;

        @media only screen and (max-width: 1023px) {
          margin-top: 20px;
          font-size: 22px;
          margin-bottom: 3px;
          line-height: 22px;
          letter-spacing: 2px;
        }
      }

      .SleepAndLiveSubtitle {
        font-size: 17px;
        line-height: 28px;
        font-family: "ZonaProBold";
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 29px;

        @media only screen and (max-width: 1023px) {
          font-size: 11px;
          line-height: 18px;
          letter-spacing: 1px;
          margin-bottom: 20px;
        }
      }

      .SleepAndLiveText {
        font-family: 'ZonaPro';
        font-size: 14px;
        line-height: 19px;
        text-align: left;
        color: var(--gray-color-600);
        width: 80%;

        >strong {
          font-family: 'ZonaProBlack';
        }

        @media only screen and (max-width: 1023px) {
          font-size: 9px;
          line-height: 12px;
          letter-spacing: 1px;
          width: 90%;
        }
      }

      .SleepAndLivePrice {
        font-family: 'ZonaProBlack';
        font-size: 19px;
        line-height: 19px;
        margin-top: 28px;
        margin-bottom: 30px;
        text-align: left;
        width: 75%;

        @media only screen and (max-width: 1023px) {
          font-size: 13px;
          line-height: 13px;
          width: 85%;
          margin-top: 24px;
          margin-bottom: 23px;
        }
      }

      .SleepAndLiveButtonCTA {
        height: 78px;
        width: 100%;
        font-family: 'ZonaProBlack';
        font-size: 18px;
        line-height: 29px;
        color: var(--white-color);
        text-transform: uppercase;
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 1023px) {
          height: 54px;
          font-size: 12px;
          line-height: 19px;
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}