.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;

  img {
    aspect-ratio: 368/348;
    max-width: 280px;
  }
  
  strong {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: ZonaProBold;
    color: #245066;
  }
  
  &.mobile {
    gap: 26px;
  }
}