.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #CBC1DA;
  padding-top: 149px;
  min-height: 942px;

  &.mobile {
    padding-top: 50px;
    min-height: 484px;

    h2 {
      max-width: 282px;
      font-size: 16px;
      line-height: 21px;
    }
  }

  h2 {
    color: #707070;
    max-width: 967px;
    font-family: ZonaProSemiBold;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;

    strong {
      font-weight: inherit;
      color: #fff;
    }
  }
}