.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  font-family: ZonaPro;

  .title {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-weight: 600;
    color: #707070;
    margin-bottom: 72px;
    margin-inline: auto;
  }

  &Slider {
    position: relative;
    display: block;
    width: 100%;
    max-width: 768px;

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;

      &Prev {
        left: -24px;
      }

      &Next {
        right: -24px;
      }
    }

    .slider {
      display: block;
      width: 100%;
      
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &Nav {
    display: block;
    width: 100%;
    margin-top: 100px;
    width: 100%;
    max-width: 775px;
  
    .nav {
      height: 84px;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  &.mobile {
    display: block;
    
    .title {
      margin-top: 31px;
      font-size: 10px;
      line-height: 16px;
      margin-bottom: 0;
    }

    .wrapperSlider {
      max-width: 100%;

      .arrow {
        &Prev {
          left: 18px;
        }

        &Next {
          right: 18px;
        }
      }
    }

    .wrapperNav {
      margin-top: 32px;
    }
  }
}