.container {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: all ease-in-out .3s;
  padding-bottom: 20px;

  .header {
    width: 95%;
    margin: 0 auto;
    padding: 5px 0;

    @media only screen and (max-width: 1024px) {
      padding: 8px 0;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .menuHamburguer {
        display: none;

        @media only screen and (max-width: 1024px) {
          display: block;
        }
      }
      
      .logo {
        width: 60px;
        height: 36px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .navigation {
        display: none;

        @media only screen and (min-width: 1024px) {
          display: block;
        }

        > ul {
          display: flex;
          align-items: center;
          justify-content: center;

          > li {
            margin-right: 20px;

            > a {
              font-family: 'ZonaProSemiBold';
              font-size: 15px;
              line-height: 25px;
              color: var(--white-color);
              text-decoration: none;
              text-transform: uppercase;
            }
          }
        }
      }

      .buyOptions {
        display: flex;
        align-items: center;
        justify-content: center;

        > a {
          margin-right: 15px;
        }
      }
    }
  }
}