.HorarioFuncionamentoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-color-200);
  height: 128px;
  width: 100%;

  @media only screen and (max-width: 1023px) {
    height: 69.8px;
  }

  svg {
    @media only screen and (max-width: 1023px) {
      width: 31.77px;
      height: 31.77px;
    }
  }

  .HorarioFuncionamentoText {
    font-family: 'ZonaProBold';
    font-size: 21px;
    line-height: 28px;
    color: var(--gray-color-500);
    margin-left: 37px;
    text-align: center;
    letter-spacing: 0.08em;

    @media only screen and (max-width: 1023px) {
      font-family: 'ZonaProBold';
      font-size: 11px;
      line-height: 12px;
      margin-left: 10.4px;
    }
  }
}