.shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: ZonaPro;
  width: 100%;
  max-width: 472px;
  margin: 0 auto;

  strong {
    font-family: ZonaProBlack;
    display: block;
    max-width: 170px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #245066;
  }

  &Actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    input {
      width: 100%;
      max-width: 192px;
      padding: 6px 4px 8px;
      border: none;
      border-bottom: 1px solid #707070;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.05em;
    }
    
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: #fff;
      background: #245066;
      padding-inline: 11px;
      height: 33px;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.05em;
      border-radius: 2px;
    }
  }

  &.mobile {
    flex-direction: column;
    gap: 21px;

    strong {
      text-align: center;
    }

    .shippingActions {
      justify-content: center;
      gap: 40px;

      input {
        max-width: 270px;
        padding: 11px 4px 17px;
      }
  
      button {
        width: 86px;
        height: 43px;
      }
    }

  }
}