.CoralOrBlueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  >video {
    max-height: 689px;
    object-fit: cover;
    width: 100%;
  }

  .CoralOrBlueTitle {
    display: block;
    font-size: 36px;
    line-height: 42px;
    font-family: 'ZonaProBold';
    color: var(--white-color);
    text-transform: uppercase;
    padding-top: 102px;
    text-align: center;
    letter-spacing: 0.12em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 25px;
      padding-top: 47px;
      white-space: nowrap;
    }
  }

  .CoralOrBlueLink {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--purple-color-300);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 427px;
    font-family: 'ZonaProBlack';
    font-size: 21px;
    line-height: 25px;
    color: var(--white-color);
    border-radius: 200px;
    text-transform: uppercase;
    margin-bottom: 90px;

    @media only screen and (max-width: 1023px) {
      margin-bottom: 40px;
      height: 44px;
      width: 70%;
      font-size: 14px;
      line-height: 21px;
    }

    &:hover {
      background: var(--purple-color-500);
    }
  }
}