.wrapper {
  position: relative;
  font-family: ZonaPro;
  padding: 148px 16px 137px;
  background: #fff;
  transition: background .25s;
  overflow: hidden;

  &.mobile {
    padding: 0;
    padding-bottom: 64px;

    .nav {
      background: #fff;
      padding: 0 16px;
      margin-bottom: 53px;
      height: 100px;

      :global(.slick-list) {
        height: 100%;
      }

      :global(.slick-track) {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 100%;
      }

      :global(.slick-slide) {
        display: flex;
        align-items: center;
        
        span {
          color: #707070;
          font-size: 9px;
          line-height: 12px;
        }
      }

      :global(.slick-slide.slick-active.slick-current) {
        span {
          color: #245066;
        }
      }
    }

    .mainSlider {
      :global(.slick-slide[data-index="0"]) {
        p {
          line-height: 13px;
        }
      }
      :global(.slick-slide[data-index="1"]) {
        .contentSlide {
          height: 450px;
        }
        p {
          position: relative;
          top: 0;
        }
      }
      :global(.slick-slide[data-index="2"]) {
        p {
          position: relative;
          top: 0;
        }
      }
      .contentSlide {
        padding-inline: 16px;
  
        p {
          position: relative;
          font-size: 10px;
          line-height: 13px;
          text-align: center;
        }

        .imageSeloMontagemGratis {
          width: 100px;
          margin: 20px auto;
        }
    
        .gifMontagem {
          position: relative;
          top: 0;
        }
  
        &Cols {
          flex-direction: column;
  
          &Right {
            margin-top: 31px;
          }
        }
      }
    }
  }
  
  &Center {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
  }

  &[data-currentSlide="0"] {
    background: #CADEE8;

    .nav {
      span {
        color: #fff;
        font-weight: 700;
      }
    }
  }
  &[data-currentSlide="1"] {
    background-image: url('../../assets/base-background-second-slide.png');
    background-repeat: no-repeat;
    background-position: right 365px;
    transition: background-position 0s;
  }
  &[data-currentSlide="2"] {
    background-image: url('../../assets/base-background-third-slide.png');
    background-repeat: no-repeat;
    background-position: 450px 365px;
    transition: background-position 0s;
  }
  &[data-currentSlide="3"] {
    background: #E8EDF0;
  }

  .nav {
    padding-bottom: 72px;
    margin-bottom: 94px;
    border-bottom: 1px solid #707070;

    :global(.slick-track) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::before, &::after {
        display: none;
      }

      * {
        max-width: max-content;
      }
    }

    :global(.slick-slide.slick-active.slick-current) {
      span {
        color: #245066;
        cursor: default;
      }
    }

    span {
      font-size: 20px;
      font-family: ZonaProBold;
      color: #707070;
      font-weight: 800;
      line-height: 26px;
      cursor: pointer;
      transition: 0.25s;
    }
  }

  .mainSlider {
    :global(.slick-slide[data-index="1"]) {
      p {
        position: absolute;
        top: 122px;
      }
    }
    :global(.slick-slide[data-index="0"]) {
      p {
        line-height: 29px;
      }
    }
    :global(.slick-slide[data-index="2"]) {
      p {
        position: absolute;
        top: 490px;
      }
    }
    :global(.slick-slide[data-index="3"]) {
      p {
        margin-top: 30px;
      }
    }
  }
  
  .contentSlide {
    position: relative;
    height: 732px;

    p {
      
      font-size: 20px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0.05em;
      color: #245066;
      
      strong {
        font-family: ZonaProBold;
        font-weight: 700;
      }
    }
    
    .imageSelosBase {
      margin-top: 51px;
    }

    .imageSeloMontagemGratis {
      margin-top: 73px;
      margin-left: 78px;
    }

    .gifMontagem {
      position: absolute;
      right: 0;
      top: -20px;
      z-index: -1;
    }

    &Cols {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  }
}