.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: ZonaPro;
  background: #fff;
  transition: background .25s;
  overflow: hidden;

  &.mobile {
    padding: 0;
    padding-bottom: 64px;

    .nav, &[data-currentContent="0"] .nav {
      background: #fff;
      padding: 0 16px;
      margin-bottom: 35px;
      height: 100px;
      gap: 20px;

      span {
        color: #707070;
        font-size: 9px;
        line-height: 12px;
        
        &.activeNav {
          color: #245066;
        }
      }
    }

    .contentWrapper {
      .secondContentBackground {
        position: absolute;
        max-width: unset;
        width: 800px;
        top: 100px;
        right: unset;
        bottom: unset;
      }
      
      .thirdContentBackground {
        position: relative;
        top: unset;
        left: 20px;
        max-width: unset;
        width: 600px;
        margin-top: 35px;
      }

      .contentItem {
        min-height: unset;
        padding: 0;
        padding-inline: 16px;
        
        &[data-tab="0"] {
          height: auto;

          p {
            line-height: 13px;
          }
        }
        &[data-tab="1"] {
          height: 500px;

          p {
            position: relative;
            top: 0;
          }
        }
        &[data-tab="2"] {
          p {
            position: relative;
            top: 0;
          }
        }
        &[data-tab="3"] {
          p {
            margin-top: 0;
          }
        }
  
        p {
          position: relative;
          font-size: 10px;
          line-height: 13px;
          text-align: center;
        }

        .imageSeloMontagemGratis {
          width: 100px;
          margin: 20px auto;
        }
    
        .gifMontagem {
          position: relative;
          top: 0;
        }
  
        &Cols {
          flex-direction: column;
  
          &Right {
            margin-top: 31px;
          }
        }
      }
    }
  }

  &[data-currentContent="0"] {
    background: #CADEE8;

    .nav {
      span {
        color: #fff;
        font-weight: 700;
      }
    }
  }
  &[data-currentContent="3"] {
    background: #E8EDF0;
  }

  .nav {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    justify-content: space-around;
    padding-block: 50px;
    border-bottom: 1px solid #707070;
    
    span {
      font-size: 20px;
      font-family: ZonaProBold;
      color: #707070;
      font-weight: 800;
      line-height: 26px;
      cursor: pointer;
      transition: 0.25s;
      
      &.activeNav {
        color: #245066;
        cursor: default;
      }
    }
  }

  .contentWrapper {
    position: relative;
    width: 100%;
    
    .secondContentBackground {
      position: absolute;
      top: 0;
      right: 0;
    }

    .thirdContentBackground {
      position: absolute;
      top: 81px;
      right: -100px;
    }

    .contentItem {
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 1440px;
      min-height: 768px;
      padding: 42px 16px;
      margin-inline: auto;
  
      &[data-tab="0"] {
        p {
          line-height: 29px;
        }
      }

      &[data-tab="1"] {
        p {
          position: absolute;
          top: 122px;
        }
      }
      &[data-tab="2"] {
        p {
          position: absolute;
          bottom: 190px
        }
      }
      &[data-tab="3"] {
        p {
          margin-top: 30px;
        }
      }
  
      p {
        position: relative;
        z-index: 1;
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.05em;
        color: #245066;
        
        strong {
          font-family: ZonaProBold;
          font-weight: 700;
        }
      }
      
      .imageSelosBase {
        margin-top: 51px;
      }
  
      .imageSeloMontagemGratis {
        margin-top: 73px;
        margin-left: 78px;
      }
  
      .gifMontagem {
        position: absolute;
        right: 0;
        top: 106px;
        z-index: 0;
      }
  
      &Cols {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
      }
    }
  }
}