.wrapper {
  position: relative;
  font-family: ZonaPro;
  padding: 148px 16px 137px;
  background: #fff;
  transition: background .25s;
  overflow: hidden;
  
  &Center {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
  }

  &[data-currentSlide="0"] {
    background: #CADEE8;

    .nav {
      span {
        color: #fff;
      }
    }
  }
  &[data-currentSlide="1"] {
    background-image: url('../../assets/base-background-second-slide.png');
    background-repeat: no-repeat;
    background-position: right 365px;
    transition: background-position 0s;
  }
  &[data-currentSlide="2"] {
    background-image: url('../../assets/base-background-third-slide.png');
    background-repeat: no-repeat;
    background-position: 450px 365px;
    transition: background-position 0s;
  }
  &[data-currentSlide="3"] {
    background: #E8EDF0;
  }

  .nav {
    padding-bottom: 72px;
    margin-bottom: 94px;
    border-bottom: 1px solid #707070;

    :global(.slick-slide.slick-active.slick-current) {
      span {
        color: #245066;
        cursor: default;
      }
    }

    span {
      font-size: 20px;
      font-family: ZonaProBold;
      color: #707070;
      font-weight: 800;
      line-height: 26px;
      cursor: pointer;
      transition: 0.25s;
    }
  }

  .mainSlider {
    :global(.slick-slide[data-index="1"]) {
      p {
        position: absolute;
        top: 122px;
      }
    }
    :global(.slick-slide[data-index="0"]) {
      p {
        line-height: 29px;
      }
    }
    :global(.slick-slide[data-index="2"]) {
      p {
        position: absolute;
        top: 490px;
      }
    }
  }
  
  .contentSlide {
    position: relative;
    height: 732px;

    p {
      max-width: 568px;
      font-size: 20px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 5%;
      color: #245066;
      
      strong {
        font-family: ZonaProBold;
        font-weight: 700;
      }
    }
    
    .imageSelosBase {
      margin-top: 51px;
    }

    .imageSeloMontagemGratis {
      margin-top: 73px;
      margin-left: 78px;
    }

    &Cols {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  }
}