.Encomenda {
  font-size: .85em;
  text-transform: uppercase;
  font-weight: 900;
  color: #2e3945;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
  margin-bottom: -30px;

  @media only screen and (max-width: 1023px) {
    margin-bottom: -10px;
  }
}