.addToCartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 529px;
  height: 72px;
  color: #fff;
  background: #d4a8bf;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-transform: uppercase;
  font-size: 27px;
  line-height: 36px;
  font-weight: 700;
  font-family: 'ZonaProBlack';
  border-radius: 77px;
  transition: 0.25s;

  &:hover {
    background: #bb73a9;
  }

  &:disabled {
    opacity: 0.75;

    &:hover {
      background: #d4a8bf;
    }
  }

  &.mobile {
    height: 43px;
    font-size: 12px;
    line-height: 16px;
  }
}