.DoubtsProductPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background: var(--blue-color-200);

  @media only screen and (max-width: 1023px) {
    flex-direction: column;
  }

  .DoubtsProductPageLeft {
    margin-right: 80px;

    @media only screen and (max-width: 1023px) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    .DoubtsProductPageTitle {
      display: block;
      font-family: 'ZonaProBold';
      font-size: 25px;
      line-height: 31px;
      color: var(--gray-color-600);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;

      @media only screen and (max-width: 1023px) {
        font-size: 14px;
        line-height: 19px;
        width: 70%;
        margin: 0 auto;
      }
    }
  }

  .DoubtsProductPageRight {
    background: var(--white-color);
    border-radius: 53px;
    height: 117px;
    padding: 0 35px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1023px) {
      height: 50px;
      padding: 5px 20px;
    }

    &:hover {
      .DoubtsProductPageButton {
        background: var(--purple-color-500);
      }
    }

    .DoubtsProductPageButton {
      height: 68px;
      width: 68px;
      border-radius: 50%;
      background: var(--purple-color-300);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;

      @media only screen and (max-width: 1023px) {
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }
    }

    .DoubtsProductPageCTA {
      font-family: 'ZonaProBlack';
      font-size: 18px;
      line-height: 26px;
      color: var(--blue-color-1000);
      text-align: center;
      text-transform: uppercase;

      @media only screen and (max-width: 1023px) {
        font-size: 14px;
        line-height: 19px;
        text-align: left;
      }
    }
  }
}