@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }

  .snap-start {
    scroll-snap-align: start;
  }

  .snap-smooth {
    scroll-behavior: smooth;
  }

  .snap-px-4 {
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .bg-coral-400 {
    background-color: var(--coral-color-400);
  }
}

* {
  font-variant-ligatures: none;
}

html {
  scroll-padding-top: 10rem;
}

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

.gradient {
  background: linear-gradient(310deg,
      rgba(255, 97, 0, 1),
      white,
      rgba(0, 197, 185, 1));
  background-size: 600% 600%;
  animation: gradient-animation 14s ease infinite;

  /* prettier-ignore */
  clip-path: polygon(100% 0%, 0% 0%, 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
}

@keyframes gradient-animation {
  0% {
    background-position: 97% 0%;
  }

  50% {
    background-position: 4% 100%;
  }

  100% {
    background-position: 97% 0%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

button {
  cursor: pointer;
}


:root {
  /* Paleta de cores */
  --blue-color-50:  #D2DAE3;
  --blue-color-100: #CEDDE7;
  --blue-color-200: #CADEE8;
  --blue-color-250: #92AECC;
  --blue-color-290: #85A4C6;
  --blue-color-300: #779ABF;
  --blue-color-400: #8891BA;
  --blue-color-430: #7D90A5;
  --blue-color-450: #7D8C9D;
  --blue-color-500: #415264;
  --blue-color-600: #455362;
  --blue-color-700: #425264;
  --blue-color-800: #2C3540;
  --blue-color-1000:#183242;

  --coral-color-300: #F5ABA8;
  --coral-color-400: #D68381;
  --coral-color-500: #F48580;

  --purple-color-100: #CCC1DB;
  --purple-color-200: #a49caf;
  --purple-color-300: #D4A8BF;
  --purple-color-500: #BB73A9;
  --purple-color-600: #9F85B2;
  --purple-color-700: #9873AC;

  --white-color: #FFFFFF;
  --gray-color-100: #F0F0F0;
  --gray-color-150: #F3F3F5;
  --gray-color-200: #D8D6D6;
  --gray-color-300: #C6C6C6;
  --gray-color-350: #d1d5db;
  --gray-color-400: #707070;
  --gray-color-500: #706F6F;
  --gray-color-600: #6D6C6C;
  --black-color: #000000;
}

/* Fontes */
@font-face {
  font-family: 'ZonaProBold';
  src: local("ZonaProBold"), url("./fonts/ZonaPro-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'ZonaProBlack';
  src: local("ZonaProBlack"), url("./fonts/ZonaPro-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: 'ZonaProSemiBold';
  src: local("ZonaProSemiBold"), url("./fonts/ZonaPro-SemiBold.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'ZonaPro';
  src: local("ZonaPro"), url("./fonts/ZonaPro.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: 'ZonaProLight';
  src: local("ZonaPro"), url("./fonts/ZonaPro-Light.otf") format("opentype");
  font-weight: 300;
}