.wrapper {
  .Price {
    margin-top: 53px;
  }

  .AddToCart {
    margin-top: 57px;
  }

  .WhatsApp {
    margin-top: 50px;
  }

  &.mobile {
    .Price {
      margin-top: 22px;
    }

    .AddToCart {
      margin-top: 21px;
    }

    .WhatsApp {
      margin-top: 22px;
    }
  }
}