.ZissouModalBaseContainer {
  position: fixed;
  background: rgba(109, 108, 108, .6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .ZissouModalBaseContent {
    background: var(--gray-color-100);
    border-radius: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;

    @media only screen and (max-width: 1023px) {
      width: 90%;
    }

    .Close {
      position: absolute;
      top: 30px;
      right: 30px;

      @media only screen and (max-width: 1023px) {
        top: 20px;
        right: 20px;
      }
    }

    .ZissouModalBaseTitle {
      font-family: 'ZonaProBlack';
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-align: center;
      text-transform: uppercase;
      color: var(--blue-color-500);
      margin-bottom: 21px;

      @media only screen and (max-width: 1023px) {
        font-size: 12px;
        line-height: 20px;
      }

      >strong {
        color: var(--coral-color-500);
      }
    } 

    .ZissouModalBaseTop {
      margin-bottom: 18px;

      @media only screen and (max-width: 1023px) {
        margin-bottom: 16px;
      }
    }

    .ZissouModalBaseTop,
    .ZissouModalBaseBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @media only screen and (max-width: 1023px) {
        flex-direction: column;
      }

      .ZissouModalBaseTopContent,
      .ZissouModalBaseBottomContent {
        width: 470px;

        @media only screen and (max-width: 1023px) {
          width: 100%;
        }
      }

      .ZissouModalBaseTopContent,
      .ZissouModalBaseBottomContent {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        & + .ZissouModalBaseBottomContent, & + .ZissouModalBaseTopContent {
          margin-left: 50px;

          @media only screen and (max-width: 1023px) {
            margin-left: 0;
            margin-top: 16px;
          }
        }

        >strong {
          font-family: 'ZonaProBold';
          font-size: 13px;
          line-height: 22px;
          color: var(--blue-color-500);

          @media only screen and (max-width: 1023px) {
            font-size: 10px;
            line-height: 14px;
          }
        }

        >span {
          font-family: 'ZonaPro';
          font-size: 13px;
          line-height: 22px;
          color: var(--gray-color-600);

          @media only screen and (max-width: 1023px) {
            font-size: 10px;
            line-height: 14px;
          }
        }
      }
    }

    .ZissouModalBaseImage {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      @media only screen and (max-width: 1023px) {
        flex-direction: column-reverse;
        margin-top: 16px;
      }

      .ZissouModalBaseImageTitle {
        max-width: 209px;
        font-family: 'ZonaProBlack';
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
        color: var(--coral-color-500);
        margin-top: 50px;

        @media only screen and (max-width: 1023px) {
          font-family: 'ZonaProBold';
          margin-top: 0;
          font-size: 10px;
          line-height: 14px;
          max-width: unset;
        }
      }
    }
  }
}