.wrapper {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
  background-image: url('../../assets/blue-comparador.png');
  background-position: center;
  background-size: auto 100%;
  min-height: 360px;
  overflow: hidden;

  &.mobile {
    aspect-ratio: initial;

    .content {
      height: 360px;
      
      h2 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 55px;
      }

      a {
        width: 187px;
        height: 43px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 46px;
      }
    }
  }

  .colchaoCoral {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('../../assets/coral-comparador.png');
    background-position: center;
    background-size: auto 100%;
    min-height: 360px;
  }
  
  .slider {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    border-right: 1px dashed #fff;

    .controller {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -11px;
      cursor: pointer;
      z-index: 1;
      user-select: none;
      touch-action: none;

      img {
        z-index: 0;
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 36px;
      font-family: ZonaProSemiBold;
      color: #fff;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 0;
      text-transform: uppercase;
      margin-top: 167px;
    }
    
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 327px;
      height: 72px;
      color: #fff;
      background: #ccc1db;
      border-radius: 77px;
      text-transform: uppercase;
      font-size: 27px;
      line-height: 36px;
      font-weight: 700;
      font-family: ZonaProBold;
      margin-bottom: 127px;
      transition: ease-in-out .2s;

      &:hover {
        background: #a49caf;
      }
    }
  }
}