.TecidoBambuContainer {
  height: 436px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F6F5;
  padding-inline: 20px;

  @media only screen and (max-width: 1023px) {
    flex-direction: column;
    padding: 0;
  }

  .TecidoBambuLeft {
    margin-right: 64px;
    width: 327px;

    @media only screen and (max-width: 1023px) {
      margin-right: 0;
      margin-bottom: 50px;
      width: 255px;
    }

    &Title {
      font-family: 'ZonaPro';
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      display: block;
      color: #F08590;
      letter-spacing: 0.05em;

      @media only screen and (max-width: 1023px) {
        font-size: 16px;
        line-height: 20px;
      }

      .OtherColor {
        color: var(--blue-color-1000);
      }
    }
  }

  .TecidoBambuRight {
    @media only screen and (max-width: 1023px) {
      width: 90%;
    }
  }
}